<nav class=" bg-light container d-flex justify-content-between align-items-center my-5 ">


    <a href="/" class="fs-1 text-decoration-none ">🖼</a>
    <a href="/" class="fs-1 text-decoration-none text-muted ">Show Gallery</a>
    <a href="/add"class="opacity-50 fs-1 text-decoration-none ">➕</a>
</nav>